@use '~@angular/material' as mat;
@import "variables";

$left-column-width: 20%;

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-top: 0;
  margin-bottom: 0;
}

.padding {
  padding-left: 8px;
  padding-right: 8px;
}

.context {
  padding-top: 1px;
  padding-bottom: 1px;
}

.highlight {
  background: mat.get-color-from-palette($amaranth-palette, 100);
}

.var-wrapper {
  padding-top: 32px;
  padding-bottom: 16px;

  .vars {
    display: block;
    clear: both;
    padding-top: 8px;
    padding-bottom: 8px;

    dt {
      float: left;
      width: $left-column-width;
      padding-right: 16px;
    }

    dd {
      margin-left: $left-column-width;
      width: 80%;
    }
  }
}
