<section
  class="l-body l-body--full-width mat-elevation-z0"
  *ngIf="paginator$ | async as paginator"
>
  <header class="page-header">
    <h1 class="mat-display-1">
      Issues
      <ng-container *ngIf="searchHits$ | async as searchHits">
        ({{ searchHits }})
      </ng-container>
    </h1>
  </header>
  <gt-header-nav></gt-header-nav>

  <div *ngIf="issues$ | async as issues" class="wrapper">
    <table
      mat-table
      [dataSource]="issues$"
      class="mat-elevation-z2"
      [class.fixedLayout]="issues.length === 0"
    >
      <ng-container matColumnDef="actions">
        <th
          mat-header-cell
          [attr.colspan]="displayedColumns.length"
          *matHeaderCellDef
          class="resolved-row"
          class="table-header"
        >
          <div class="action-group">
            <form
              class="date-form"
              [formGroup]="dateForm"
              (ngSubmit)="onDateFormSubmit()"
            >
              <mat-form-field>
                <mat-label>Start Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="startPicker"
                  formControlName="startDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="startPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field>
                <mat-label>End Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="endPicker"
                  formControlName="endDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="endPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
              </mat-form-field>
              <button
                type="submit"
                mat-flat-button
                color="primary"
                [disabled]="
                  !dateForm.value.startDate ||
                  !dateForm.value.endDate ||
                  dateForm.pristine
                "
              >
                Filter
              </button>
              <button
                type="button"
                (click)="dateFormReset()"
                mat-stroked-button
                color="primary"
                [disabled]="
                  !dateForm.value.startDate && !dateForm.value.endDate
                "
              >
                Clear
              </button>
            </form>

            <form [formGroup]="sortForm" class="sort-form">
              <mat-form-field>
                <mat-label>Sort by</mat-label>
                <mat-select
                  (selectionChange)="sortByChanged($event)"
                  formControlName="sort"
                >
                  <mat-option
                    *ngFor="let sort of sorts | keyvalue"
                    [value]="sort.key"
                  >
                    {{ sort.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </form>

            <form [formGroup]="environmentForm" class="environment-form">
              <mat-form-field
                *ngIf="organizationEnvironments$ | async as environments"
              >
                <mat-label>Environment</mat-label>
                <mat-select
                  (selectionChange)="filterByEnvironment($event)"
                  formControlName="environment"
                >
                  <mat-option [value]="null">All Environments</mat-option>
                  <mat-option
                    *ngFor="let environment of environments"
                    [value]="environment"
                  >
                    {{ environment }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </form>

            <form
              [formGroup]="form"
              (ngSubmit)="onSubmit()"
              class="search-form"
            >
              <mat-form-field>
                <input
                  matInput
                  type="search"
                  placeholder="Search"
                  formControlName="query"
                />
              </mat-form-field>
            </form>
          </div>
        </th>
      </ng-container>

      <ng-container matColumnDef="select">
        <th
          mat-header-cell
          *matHeaderCellDef
          [class.sticky-header]="(thereAreSelectedIssues$ | async) === true"
        >
          <mat-checkbox
            (change)="toggleSelectAll()"
            [checked]="(areAllSelected$ | async)!"
            [disabled]="issues.length === 0"
            id="selectAll"
          >
          </mat-checkbox>
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          [class.resolved]="row.status === 'resolved'"
          [class.ignored]="row.status === 'ignored'"
          class="checkbox-cell level level--{{ row.level }}"
        >
          <mat-checkbox
            (change)="toggleCheck(row.id)"
            [checked]="row.isSelected"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [class.sticky-header]="(thereAreSelectedIssues$ | async) === true"
        >
          <div class="button-group">
            <button
              id="bulkMarkResolved"
              mat-flat-button
              color="primary"
              (click)="bulkMarkResolved()"
              [disabled]="(thereAreSelectedIssues$ | async) === false"
            >
              Mark as resolved
            </button>
            <button
              mat-stroked-button
              (click)="bulkMarkUnresolved()"
              [disabled]="(thereAreSelectedIssues$ | async) === false"
            >
              Reopen
            </button>
            <button
              mat-stroked-button
              (click)="bulkMarkIgnored()"
              [disabled]="(thereAreSelectedIssues$ | async) === false"
            >
              Ignore
            </button>
          </div>
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [class.resolved]="element.status === 'resolved'"
          [class.ignored]="element.status === 'ignored'"
          class="title-cell"
        >
          <mat-icon
            *ngIf="element.status === 'ignored'"
            inline="true"
            class="mute-icon"
          >
            volume_off
          </mat-icon>
          <a [routerLink]="element.id" queryParamsHandling="merge">{{
            element.title
          }}</a>
          <div class="other-cell-info mat-caption">
            {{ element.count | i18nPlural: eventCountPluralMapping }}
          </div>
          <div>
            <span
              class="mat-caption"
              *ngIf="(appliedProjectCount$ | async) !== 1"
            >
              {{ element.projectSlug }}
            </span>
            <span class="mat-caption" *ngIf="true">
              <ng-container *ngIf="(appliedProjectCount$ | async) !== 1">
                &mdash;
              </ng-container>
              <time
                [dateTime]="element.firstSeen"
                [title]="element.firstSeen | date: 'medium'"
              >
                {{ element.firstSeen | daysOld }},
              </time>
              seen
              <time
                *ngIf="element.firstSeen !== element.lastSeen"
                [dateTime]="element.lastSeen"
                [title]="element.lastSeen | date: 'medium'"
              >
                {{ element.lastSeen | daysAgo }}
              </time>
            </span>
            <span
              class="mat-caption"
              *ngIf="element.type && element.type === 'csp'"
              ><span
                *ngIf="(appliedProjectCount$ | async) !== 1 && element.type"
              >
                &mdash; </span
              >{{ element.type }} report</span
            >
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="bulkProjectSelect">
        <td
          mat-header-cell
          *matHeaderCellDef
          colspan="3"
          class="bulk-project-select__inner"
        >
          <ng-container *ngIf="(showBulkSelectProject$ | async) === true">
            <ng-container
              *ngIf="
                (selectedProjectInfo$ | async | json) === '{}';
                else deselect
              "
              ><span class="bulk-project-select__text"
                >{{ numberOfSelectedIssues$ | async }} issues on this page
                selected.</span
              >
              <button
                id="bulkUpdateProject"
                mat-stroked-button
                color="primary"
                (click)="bulkUpdateProject()"
              >
                <ng-container *ngIf="searchHits$ | async as searchHits"
                  >Select all {{ searchHits }} issues that match this
                  query</ng-container
                >
              </button></ng-container
            ><ng-template #deselect
              ><span class="bulk-project-select__text"
                >All {{ searchHits$ | async }} issues are currently
                selected.</span
              >
              <button
                mat-stroked-button
                color="primary"
                (click)="clearBulkProjectUpdate()"
              >
                Undo
              </button></ng-template
            ></ng-container
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="events">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="status-header-cell sticky-header"
          [class.sticky-header]="(thereAreSelectedIssues$ | async) === true"
        >
          Events
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [class.resolved]="element.status === 'resolved'"
          [class.ignored]="element.status === 'ignored'"
          class="event-cell"
        >
          <p>{{ element.count }}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="pagination">
        <td
          mat-footer-cell
          *matFooterCellDef
          [attr.colspan]="displayedColumns.length"
          class="footer"
        >
          <ng-container *ngIf="(loading$ | async) === false">
            <button
              [routerLink]="[]"
              [queryParams]="paginator.previousPageParams || {}"
              queryParamsHandling="merge"
              mat-button
              [disabled]="paginator.hasPreviousPage === false"
            >
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button
              [routerLink]="[]"
              [queryParams]="paginator.nextPageParams || {}"
              queryParamsHandling="merge"
              mat-button
              [disabled]="paginator.hasNextPage === false"
            >
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </ng-container>
          <div *ngIf="loading$ | async" class="spinner-container">
            <mat-progress-spinner
              [diameter]="33"
              color="primary"
              mode="indeterminate"
            ></mat-progress-spinner>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['actions']"></tr>
      <tr
        mat-header-row
        class="overlay"
        *matHeaderRowDef="displayedColumns"
        [class.u-hidden]="issues.length === 0"
      ></tr>
      <tr
        mat-header-row
        *matHeaderRowDef="['bulkProjectSelect']"
        [class.bulk-project-select__hide]="
          (showBulkSelectProject$ | async) === false
        "
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          <gt-issue-zero-states
            *ngIf="paginator.initialLoadComplete"
          ></gt-issue-zero-states>
        </td>
      </tr>
      <tr mat-footer-row *matFooterRowDef="['pagination']"></tr>
    </table>
  </div>
</section>
